.App {
  text-align: center;
}

.box {
  width: 20%;
  height: 20%;
  float: left;
  margin-left: 30px;
  margin-bottom: 50px;
  box-shadow: 10px 10px 10px black;
}
p {
  font-style: oblique;
}

.photos {
  margin-left: 50px;
}
.title {
  font-style: oblique;
}
.titlesize {
  height: 80px;
  overflow: hidden;
}
h1 {
  color: blue;
  font-weight: bold;
  text-align: center;
}
.pagination {
  width: 90%;
}
